In [1]:
from sklearn import datasets,svm

In [2]:
iris=datasets.load_iris()

In [3]:
import pandas as pd

In [4]:
df=pd.DataFrame(iris.data,columns=iris.feature_names)

In [5]:
df['flowers']=iris.target
df['flowers']=df['flowers'].apply(lambda x:iris.target_names[x])
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flowers
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(iris.data,iris.target,test_size=0.2)

In [7]:
model=svm.SVC()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.9666666666666667

In [8]:
from sklearn.model_selection import cross_val_score
cross_val_score(svm.SVC(),iris.data,iris.target,cv=5)

array([0.96666667, 0.96666667, 0.96666667, 0.93333333, 1.        ])

In [9]:

import numpy as np
k_val=['rbf','linear']
c=[1,10,20]
avg_score={}
for kval in k_val:
    for cval in c:
        cv_score=cross_val_score(svm.SVC(kernel=kval,C=cval,gamma='auto'),iris.data,iris.target,cv=5)
        avg_score[kval+'_'+str(cval)]=np.average(cv_score)
avg_score

{'rbf_1': 0.9800000000000001,
 'rbf_10': 0.9800000000000001,
 'rbf_20': 0.9666666666666668,
 'linear_1': 0.9800000000000001,
 'linear_10': 0.9733333333333334,
 'linear_20': 0.9666666666666666}

In [10]:
from sklearn.model_selection import GridSearchCV
model=GridSearchCV(svm.SVC(gamma='auto'),{
    'kernel':['rbf','linear'],
    'C':[1,10,20]},cv=5,return_train_score=False)
model.fit(iris.data,iris.target)
model.cv_results_
model.score(iris.data,iris.target)

0.9866666666666667

In [11]:
df1=pd.DataFrame(model.cv_results_)[['param_C','param_kernel','mean_test_score']]
df1.head()

  param_C param_kernel  mean_test_score
0       1          rbf         0.980000
1       1       linear         0.980000
2      10          rbf         0.980000
3      10       linear         0.973333
4      20          rbf         0.966667

In [12]:
dir(model)

['__abstractmethods__',
 '__annotations__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__sklearn_clone__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_impl',
 '_build_request_for_signature',
 '_check_feature_names',
 '_check_n_features',
 '_check_refit_for_multimetric',
 '_estimator_type',
 '_format_results',
 '_get_default_requests',
 '_get_metadata_request',
 '_get_param_names',
 '_get_tags',
 '_more_tags',
 '_parameter_constraints',
 '_repr_html_',
 '_repr_html_inner',
 '_repr_mimebundle_',
 '_required_parameters',
 '_run_search',
 '_select_best_index',
 '_validate_data',
 '_validate_params',
 'best_estimator_',
 'best_index_',
 'best_params_',
 'best_score_',
 'classes_',
 'cv',
 'cv_results_',
 'decision_function',
 'error_score',
 'estimator',
 'fit',
 'get_metadata_routing',
 'get_params',
 'inverse_transform',
 'multimetric_',
 'n_features_in_',
 'n_jobs',
 'n_splits_',
 'param_grid',
 'pre_dispatch',
 'predict',
 'predict_log_proba',
 'predict_proba',
 'refit',
 'refit_time_',
 'return_train_score',
 'score',
 'score_samples',
 'scorer_',
 'scoring',
 'set_fit_request',
 'set_params',
 'transform',
 'verbose']

In [13]:
model.best_score_

0.9800000000000001

In [14]:
model.best_params_

{'C': 1, 'kernel': 'rbf'}

In [15]:
model.cv

5

In [16]:
model.cv_results_

{'mean_fit_time': array([0.00112362, 0.00131316, 0.        , 0.00288453, 0.00151286,
        0.00050521]),
 'std_fit_time': array([0.0010622 , 0.00262632, 0.        , 0.00576906, 0.00302572,
        0.00101042]),
 'mean_score_time': array([0.00200086, 0.        , 0.        , 0.00017514, 0.        ,
        0.        ]),
 'std_score_time': array([0.0028444 , 0.        , 0.        , 0.00035028, 0.        ,
        0.        ]),
 'param_C': masked_array(data=[1, 1, 10, 10, 20, 20],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['rbf', 'linear', 'rbf', 'linear', 'rbf', 'linear'],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 1, 'kernel': 'rbf'},
  {'C': 1, 'kernel': 'linear'},
  {'C': 10, 'kernel': 'rbf'},
  {'C': 10, 'kernel': 'linear'},
  {'C': 20, 'kernel': 'rbf'},
  {'C': 20, 'kernel': 'linear'}],
 'split0_test_score': array([0.96666667, 0.96666667, 0.96666667, 1.        , 0.96666667,
        1.        ]),
 'split1_test_score': array([1., 1., 1., 1., 1., 1.]),
 'split2_test_score': array([0.96666667, 0.96666667, 0.96666667, 0.9       , 0.9       ,
        0.9       ]),
 'split3_test_score': array([0.96666667, 0.96666667, 0.96666667, 0.96666667, 0.96666667,
        0.93333333]),
 'split4_test_score': array([1., 1., 1., 1., 1., 1.]),
 'mean_test_score': array([0.98      , 0.98      , 0.98      , 0.97333333, 0.96666667,
        0.96666667]),
 'std_test_score': array([0.01632993, 0.01632993, 0.01632993, 0.03887301, 0.03651484,
        0.0421637 ]),
 'rank_test_score': array([1, 1, 1, 4, 5, 6])}

In [17]:
nf=pd.DataFrame(model.cv_results_)
nf

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.001124,0.001062,0.002001,0.002844,1,rbf,"{'C': 1, 'kernel': 'rbf'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
1,0.001313,0.002626,0.000000,0.000000,1,linear,"{'C': 1, 'kernel': 'linear'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
2,0.000000,0.000000,0.000000,0.000000,10,rbf,"{'C': 10, 'kernel': 'rbf'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
3,0.002885,0.005769,0.000175,0.000350,10,linear,"{'C': 10, 'kernel': 'linear'}",1.000000,1.0,0.900000,0.966667,1.0,0.973333,0.038873,4
4,0.001513,0.003026,0.000000,0.000000,20,rbf,"{'C': 20, 'kernel': 'rbf'}",0.966667,1.0,0.900000,0.966667,1.0,0.966667,0.036515,5
5,0.000505,0.001010,0.000000,0.000000,20,linear,"{'C': 20, 'kernel': 'linear'}",1.000000,1.0,0.900000,0.933333,1.0,0.966667,0.042164,6

In [18]:
from sklearn.model_selection import RandomizedSearchCV 
model=RandomizedSearchCV(svm.SVC(gamma='auto'),{
                'kernel':['rbf','linear'],
                'C':[1,10,20]},
                cv=5,return_train_score=False,n_iter=2)
model.fit(iris.data,iris.target)
dfo=pd.DataFrame(model.cv_results_)[['param_C','param_kernel','mean_test_score']]
dfo.head(2)

  param_C param_kernel  mean_test_score
0      20          rbf         0.966667
1      10       linear         0.973333

In [19]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
model_pram={
    'svm':{
    'model':svm.SVC(gamma='auto'),
    'parms': {'C':[1,10,20],'kernel':['rbf','linear']
        }
            },
             
'logistic_regre':{
    'model':LogisticRegression(solver='liblinear',multi_class='auto'),
    'parms':{'C':[1,5,10]
                     }
                 },
'RFC':{
    'model': RandomForestClassifier(),
    'parms':{ 'n_estimators':[1,5,10]
                 }
                }
            }

In [21]:
score=[]
for model_names,mp in model_pram.items():
    clf=GridSearchCV(mp['model'],mp['parms'],cv=5,return_train_score=False)
    clf.fit(iris.data,iris.target)
    score.append({
   'model':model_names,
    'scores':clf.best_score_,
    'parms':clf.best_params_
    })
dfg=pd.DataFrame(score,columns=['model','scores','parms'])
dfg

            model    scores                      parms
0             svm  0.980000  {'C': 1, 'kernel': 'rbf'}
1  logistic_regre  0.966667                   {'C': 5}
2             RFC  0.953333        {'n_estimators': 5}