In [1]:
from sklearn import datasets,svm

In [2]:
iris=datasets.load_iris()

In [3]:
import pandas as pd

In [4]:
df=pd.DataFrame(iris.data,columns=iris.feature_names)

In [5]:
df['flowers']=iris.target
df['flowers']=df['flowers'].apply(lambda x:iris.target_names[x])
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flowers
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(iris.data,iris.target,test_size=0.2)

In [9]:
model=svm.SVC()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.9666666666666667

In [12]:
from sklearn.model_selection import cross_val_score
cross_val_score(svm.SVC(),iris.data,iris.target,cv=5)

array([0.96666667, 0.96666667, 0.96666667, 0.93333333, 1.        ])

In [19]:

import numpy as np
k_val=['rbf','linear']
c=[1,10,20]
avg_score={}
for kval in k_val:
    for cval in c:
        cv_score=cross_val_score(svm.SVC(kernel=kval,C=cval,gamma='auto'),iris.data,iris.target,cv=5)
        avg_score[kval+'_'+str(cval)]=np.average(cv_score)
avg_score

{'rbf_1': 0.9800000000000001,
 'rbf_10': 0.9800000000000001,
 'rbf_20': 0.9666666666666668,
 'linear_1': 0.9800000000000001,
 'linear_10': 0.9733333333333334,
 'linear_20': 0.9666666666666666}

In [25]:
from sklearn.model_selection import GridSearchCV
model=GridSearchCV(svm.SVC(gamma='auto'),{
    'kernel':['rbf','linear'],
    'C':[1,10,20]},cv=5,return_train_score=False)
model.fit(iris.data,iris.target)
model.cv_results_

{'mean_fit_time': array([0.00097027, 0.00323458, 0.00497847, 0.0010231 , 0.00353036,
        0.00375514]),
 'std_fit_time': array([0.00080794, 0.00532639, 0.00645019, 0.0020462 , 0.00453879,
        0.00606419]),
 'mean_score_time': array([0.00269132, 0.00037093, 0.        , 0.00561633, 0.        ,
        0.00130954]),
 'std_score_time': array([0.00345489, 0.00049118, 0.        , 0.00583252, 0.        ,
        0.00261908]),
 'param_C': masked_array(data=[1, 1, 10, 10, 20, 20],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['rbf', 'linear', 'rbf', 'linear', 'rbf', 'linear'],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 1, 'kernel': 'rbf'},
  {'C': 1, 'kernel': 'linear'},
  {'C': 10, 'kernel': 'rbf'},
  {'C': 10, 'kernel': 'linear'},
  {'C': 20, 'kernel': 'rbf'},
  {'C': 20, 'kernel': 'linear'}],
 'split0_test_score': array([0.96666667, 0.96666667, 0.96666667, 1.        , 0.96666667,
        1.        ]),
 'split1_test_score': array([1., 1., 1., 1., 1., 1.]),
 'split2_test_score': array([0.96666667, 0.96666667, 0.96666667, 0.9       , 0.9       ,
        0.9       ]),
 'split3_test_score': array([0.96666667, 0.96666667, 0.96666667, 0.96666667, 0.96666667,
        0.93333333]),
 'split4_test_score': array([1., 1., 1., 1., 1., 1.]),
 'mean_test_score': array([0.98      , 0.98      , 0.98      , 0.97333333, 0.96666667,
        0.96666667]),
 'std_test_score': array([0.01632993, 0.01632993, 0.01632993, 0.03887301, 0.03651484,
        0.0421637 ]),
 'rank_test_score': array([1, 1, 1, 4, 5, 6])}

In [29]:
df1=pd.DataFrame(model.cv_results_)[['param_C','param_kernel','mean_test_score']]
df1.head()

  param_C param_kernel  mean_test_score
0       1          rbf         0.980000
1       1       linear         0.980000
2      10          rbf         0.980000
3      10       linear         0.973333
4      20          rbf         0.966667